<%- include("header") -%>

<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nihil labore cum aut atque voluptatibus, dolorum, ea voluptatum cupiditate iste eaque laudantium obcaecati perferendis, harum similique natus officia suscipit! Error. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque sunt vitae maiores unde amet totam quibusdam odit natus ratione nemo ipsam eos aut, distinctio laudantium nobis iure, eius itaque beatae.</p>
<%- include("footer") -%>